
                <div class="chat-msg chat-msg--from">
                  <div class="chat-msg__profile">
                    <a href="javascript: void(0);">
                      <div class="profile-icon">
                        <img src="./images/profile3.png" class="img-circle" >
                        <!-- <i class="ion-chatbox-working fa-2x img-circle"></i> -->
                      </div>
                      <small class="profile-name">
                      <b>@@msg.author</b>
                      </small>
                    </a>
                  </div>
                  <div class="chat-msg__msg">
                    <div class="chat-msg__msg-inner">@@msg.content<div class="chat-msg__msg-time">@@msg.time</div></div>
                  </div>
                </div>